<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/701be9d26f.js" crossorigin="anonymous" defer></script>
    <title>Weather</title>
</head>
<body>
    
    <div class="container">
            <div class="currentLocationBox">
                <h2> <%= currentCity %>, <%= currentCountry %> </h2>
                <h1><%= currentTemp %>°</h1>
                <p><%= currentWeatherDescription %></p>
            </div>
            <div class="searchBarBox">
                <form action="/" method="post" class="searchBar">
                    <input type="text" name="input" id="" class="searchInput" placeholder="Enter a city..">
                    <button type="submit" name="submit" class="searchButton"><i class="fa-solid fa-magnifying-glass fa-xl fa-flip" style="--fa-animation-duration: 5s;"></i></button>
                </form>
            </div>
    </div>

</body>
</html>